.main-wrapper{
	width:100%;
}
.main-content{
	min-width: 1210px;
}
.header-wrapper{
	width: 100%;
}
.header-top-container{
	height: 80px;
	width: 100%;
	background-image: url(../images/header-background.png);
	background-repeat: repeat-x;
}
.header-top-content{
	width: 1170px;
	margin: 0 auto;

}
.header-bottom-container{
	width: 100%;
	background-image: url(../images/hbc-bg.png);
	background-repeat: repeat-x;
	position: relative;
}
.header-bottom-content{
	width: 1170px;
	margin: 0 auto;
}

.body-wrapper{
	width: 100%;
	background-color: #f3f3f3;

}
.col-1-main{
	width: 1170px;
	margin:0 auto;
	background-color: #f3f3f3;
}
.body-title-container{
	width: 100%;
	background-color: #f3f3f3;
	padding: 33px 0px 51px 0px;

}
.body-image-container{
	margin: 0 auto;
	width: 100%;	
	position: relative;
}
.body-image-container img{
	max-width: 100%;
	max-height: 700px;
	border-radius: 5px;
	box-shadow: 0px 5px #e5e6e6;
}
.image-slider{
	position: absolute;
	z-index: 1;
	display: inline-block;
	width: 1170px;
	top:320px;
}

.body-current-image{
	padding:24px 0px;
	width: 100%;
}


.body-project-container{
	width: 100%;
	padding-top: 53px;
}
.body-project-left{
	float: left;
	width: 770px;
}
.body-project-right{
	float: right;
	width: 270px;
}
.body-block-container{
	width: 100%;
}
.body-block-top{
	padding-top: 56px;
	width: 100%;
}
.body-block-bottom{
	padding-top: 56px;
	width: 100%;
	padding-bottom: 86px;
}

.footer-wrapper{
	width: 100%;
	padding-top: 48px;
	background-image: url(../images/footer-background.png);
	background-repeat: repeat-x;

}
.footer-top-container{
	width: 100%;
	background-color: #75c6bf;
	padding-bottom: 56px; 
}
.footer-top-content{
	width: 1170px;
	margin: 0 auto;
}
.footer-bottom-container{
	width: 100%;
	background-color: #69b2ab;
	padding-top: 23px;
	padding-bottom: 18px;
}
.footer-bottom-content{
	width: 1170px;
	margin: 0 auto;
}
.footer-bottom-left{
	float:left;
	padding-left: 3px;
}
.footer-bottom-right{
	float:right;
}