<<<<<<< HEAD
@media only screen and (min-width:1024px){
.main-content{
	min-width: 1210px;
	max-width: 100%;
}


.header-top-content{
	width: 1170px;
	margin: 0 auto;

}
.header-top-container{
	height: 80px;
	width: 100%;
	background-image: url(../images/header-background.png);
	background-repeat: repeat-x;
}
.header-bottom-content{
	width: 1170px;
	margin: 0 auto;

}
.col-1-main{
	width: 1170px;
	margin:0 auto;
	background-color: #f3f3f3;
}
.image-slider{
	position: absolute;
	z-index: 1;
	display: inline-block;
	width: 1170px;
	top:320px;
}


.body-project-left{
	float: left;
	width: 770px;
}
.body-project-right{
	padding-top: 0px;
	float: right;
	width: 270px;
}


.footer-bottom-content{
	width: 1170px;
	margin: 0 auto;
}

/*style*/

.logo{
	padding-top: 28px;
	padding-left: 9px;
	padding-bottom: 27px;
	float: left; 	
}
.header-top-list{
	float:right;
	margin-top: 25px;
}
.header-top-menu{
	list-style-type: none;
	padding: 0px;
	height: 30px;
}
.header-top-menu li{
	display: inline-block;
	border-radius: 5px;
	padding: 5px 21px;
	position: relative;
}

.body-block-left{
	width: 1045px;
	height: 40px;
	float:left;
	background-image: url(../images/line.png);
	background-repeat: repeat-x;
	background-position: center;
	position: relative;
}
.body-block-bottom{
	padding-left: 0px;
	padding-top: 56px;
	width: 100%;
	padding-bottom: 86px;
}
.body-project-left p{
	padding-top: 22px;
	padding-left: 3px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size:14px;
	line-height: 22px;
	color: #7e8b8b;

}


.body-blocks-list li{
	margin-right: 26px;
	display: inline-block;
}
.body-blocks-list li:last-child{
	margin-right: 0px;
}

.footer-top-content{
	width: 1170px;
	margin: 0 auto;
}
.footer-info{
	float:left;
	width: 370px; 
	display: inline-block;
}
.footer-company{
	float: left;
	width: 170px;
	padding-top: 2px;
	padding-left: 31px;
	list-style: none;
	display: block;
}
.footer-company ul{
	list-style: none;
	display: block;
	margin: 0px;
	padding: 0px;
	padding-left: 24px;
}
.footer-from-blog{
	float: right;
	margin: 0px;
	width: 370px;

}
.footer-bottom-content{
	width: 1170px;
	margin: 0 auto;
}


=======
@media only screen and (min-width:1024px){
.main-content{
	min-width: 1210px;
	max-width: 100%;
}


.header-top-content{
	width: 1170px;
	margin: 0 auto;

}
.header-top-container{
	height: 80px;
	width: 100%;
	background-image: url(../images/header-background.png);
	background-repeat: repeat-x;
}
.header-bottom-content{
	width: 1170px;
	margin: 0 auto;

}
.col-1-main{
	width: 1170px;
	margin:0 auto;
	background-color: #f3f3f3;
}
.image-slider{
	position: absolute;
	z-index: 1;
	display: inline-block;
	width: 1170px;
	top:320px;
}


.body-project-left{
	float: left;
	width: 770px;
}
.body-project-right{
	padding-top: 0px;
	float: right;
	width: 270px;
}


.footer-bottom-content{
	width: 1170px;
	margin: 0 auto;
}

/*style*/

.logo{
	padding-top: 28px;
	padding-left: 9px;
	padding-bottom: 27px;
	float: left; 	
}
.header-top-list{
	float:right;
	margin-top: 25px;
}
.header-top-menu{
	list-style-type: none;
	padding: 0px;
	height: 30px;
}
.header-top-menu li{
	display: inline-block;
	border-radius: 5px;
	padding: 5px 21px;
	position: relative;
}

.body-block-left{
	width: 1045px;
	height: 40px;
	float:left;
	background-image: url(../images/line.png);
	background-repeat: repeat-x;
	background-position: center;
	position: relative;
}
.body-block-bottom{
	padding-left: 0px;
	padding-top: 56px;
	width: 100%;
	padding-bottom: 86px;
}
.body-project-left p{
	padding-top: 22px;
	padding-left: 3px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size:14px;
	line-height: 22px;
	color: #7e8b8b;

}


.body-blocks-list li{
	margin-right: 26px;
	display: inline-block;
}
.body-blocks-list li:last-child{
	margin-right: 0px;
}

.footer-top-content{
	width: 1170px;
	margin: 0 auto;
}
.footer-info{
	float:left;
	width: 370px; 
	display: inline-block;
}
.footer-company{
	float: left;
	width: 170px;
	padding-top: 2px;
	padding-left: 31px;
	list-style: none;
	display: block;
}
.footer-company ul{
	list-style: none;
	display: block;
	margin: 0px;
	padding: 0px;
	padding-left: 24px;
}
.footer-from-blog{
	float: right;
	margin: 0px;
	width: 370px;

}
.footer-bottom-content{
	width: 1170px;
	margin: 0 auto;
}


>>>>>>> f25c25d3fea33f51c5ca5880e00cbd5d9b166da3
